 @font-face {
 	font-family: ostrich;
 	src:url(../fuentes/ostrich-regular.ttf);
 }
 @font-face {
 	font-family: ostrichb;
 	src:url(../fuentes/ostrich-black.ttf);
 }
 @font-face {
 	font-family:;
 	src:url();
 }