@import url('reset.css');
@import url('fuentes.css');

/*--- Estilos Generales ---*/
*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;

}
body {
	font-family: sourcesans;
	background: #f2f2f2;
}

a{
	text-decoration: none;
	color: #1ea58a;
 	font-family: sourcesansi;
	
}

h3{
	color: #6C8A84;
	font-family: montserrat;
}
p{
	text-align: justify;
}
b{
	color: #1ea58a;
}
						/*--BODY--*/

					/*--HEADER--*/
header{
	background: #4e8a8d;
	padding: 10px;
	/*FLEX*/
	display: flex;
	/*justify-content: center;*/
	justify-content:space-between;
	flex-direction: row;
	flex-wrap: wrap;

}

header .logo{
	display: flex;
}
/*esto es para que quede */
.logo img{
	margin-left: 30px;
	vertical-align: top;
}

header nav{
	width: 50%;
	/*FLEX*/
	display: flex;
	align-items: center;
	flex-flow: row wrap; 
}

nav li{
	list-style: none;
}

nav li nav{
	display: none;
	position: absolute;
	max-width: 240px;
}


nav li:hover > nav{     
	display:block;
	z-index: 1;
}



nav a{
	color: #f2f2f2;
	font-family: montserrat; 
	font-size: 20px;
	padding: 10px 15px;
	background: #4e8a8d;
	/*FLEX*/
	display: flex;
	flex-grow: 1;
}

nav a:hover{
	background: #f3f3f3;
	color: #000000;
	transition: all 500ms;
}

								/*---MAIN---*/
main{
	margin: auto;
	width: 90%;
	max-width: 1500px;
	min-height: 700px;
	/*FLEX*/
	display: flex;
	justify-content: center;
}

.contenedor{
	
	flex: 1 1 70%;
	box-sizing: border-box;
	padding: 10px 10px 40px 10px;
	background: #f2f2f2;
	display:flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
						/*ELEMENTOS*/
.elemento{
	/*FLEX*/
	display: flex;
}

					/*elemento1*/
.elemento1{
	height: 300px;
	background: #f2f2f2;
	/*overflow: auto;*/
	/*FLEX*/
	flex-direction: column;
	justify-content: space-around;
}

.p1{
	width: 100%;
	height: 30%;
	/*FLEX*/
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-around;
	align-items: center; 
}

.loguito {
  width: 100px;
  height: 70px;
}

.elemento1 p{
 	font-size: 20px;
	font-family: sourcesans;
	color: #828282;
}
					/*elemento3*/
.elemento3{
	height: 400px;
	width: 100%;
	border: 20px solid #f2f2f2;
	position: relative;
	overflow:hidden;
	text-align: center;
}

.elemento3 .mascara{
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
    opacity: 0;
    background-color: hsla(195,42%,69%,0.7); 
    transition: all 0.4s ease-in-out;
	
	/*FLEX*/
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.elemento3 .Coach{
	width: 100%;
	/*height: 200%;*/
	position: relative;
	/*top: -80px;*/
	transition: all 0.5s linear;
}

.elemento3:hover img { 
    transform: scale(1.1);
} 

.elemento3 h2{
    text-transform: uppercase;
    color: #f2f2f2;
    text-align: center;
    position: relative;
    font-size: 30px;
    font-weight: 50%; 
    padding: 20px;
    background: hsla(0,0%,0%,0.8);
 	opacity: 0;
    transform: translateY(-100px);
    transition: all 0.2s ease-in-out;
}

.elemento3 p{
    font-family: "Quattrocento";
    font-style: bold;
    font-size: 20px;
    padding: 0px 40px 10px;
    text-align: center;
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.2s linear;
}

.elemento3 .info{
    text-decoration: none;
    padding: 7px 14px;
    /*bottom: 20px;*/
    background: #000;
    color: #f2f2f2;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000;    
    opacity: 0;
    transition: all 0.2s linear;
}
.elemento3:hover .mascara { 
    opacity: 1;
}

.elemento3:hover h2,
.elemento3:hover p,
.elemento3:hover a{
    opacity: 1;
    transform: translateY(0px);
}

.view:hover p {
    transition-delay: 0.1s;
}
.view:hover a.info {
    transition-delay: 0.2s;
}

					/*elemento4*/
.elemento4{
	font-size: 20px;
	line-height: 40px;
	background: #f2f2f2;
	color: #d2d2d2;
	overflow: auto;
	/*Flex*/
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
}

.elemento4 .parrafo{
	width: 90%;
	
}
.elemento4 p{
	font-family: sourcesans;
	color: #967676;
}

					/*--NOTICIAS--*/

		/*Noticias*/

.noticias{
	padding: 10px;
	/*FLEX*/
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px; 
}

.noticias .texto{
	width: 80%;
	padding: 10px;
	/*FLEX*/
	display: flex;
	flex-direction: column;	
}
.noticias .texto p{
	margin-top: 30px;
	text-align: justify;
}

.noticias .imagen{
	background: #333;
	width: 200px;
	height: 150px;
	overflow: hidden;
}

.imagen img{
	/*width: 100%;*/
	/*height: auto;*/
		position: relative;
}
							/*---Eventos, especificos---*/

.imagen_evento{
	width: 85%;
}

.imagen_evento img{
	opacity: 1;
	border: 25px solid #6C8A84;
	transition: all 0.7s ease;

}


.imagen_evento img:hover {	
	transition: all 0.7s ease;
	opacity: 0.7;
}
p.evento{	
	padding: 10px;
	width: 90%;
}
.info-evento{
	display: inline-block;
	font-family: montserratsb;
	font-size: 32px;
}

					/*--ASIDE--*/
aside{
	background: #444444;
	padding: 20px;
	/*FLEX*/
	display: flex;
	flex: 1 1 30%;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: flex-start;
}
aside .widget{ 
	margin: 10px;
}
.noticias .imagen img{
	width: 100%;
}
.imagen img{
	width: 80%;
	display: block;
	margin: auto;
	/*height: 100%;*/
}
aside .imagen{
	padding: 0px;
	margin: 10px;
	overflow: hidden;
}
aside p{
	color:#d2d2d2;
	padding: 5px;
	text-align: justify;
}
						/*---FOOTER---*/
footer{
	background: #6C8A84;
	margin-top: 20px;
	color: #fff;
	/*FLEX*/
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
	padding: 15px;
	font-family: inconsolata;
	cursor: default;
}


.titulo{
	color: #fff;
	text-align: center;
	opacity: 0.9;
	padding: 5px;
	
}


							/*--BARRA SOCIAL--*/
.Redes{	
	position: fixed;
	left: 0px;
	top: 250px;
}

.Redes div a{
	color: #f2f2f2;	
	display: inline-block;/*para el padding*/
	background: #f2f2f2;
	padding: 10px 15px;
	text-decoration: none;
	transition:all 500ms ease;
}
						/*--REDES--*/
.Redes div .icon-facebook{
	background: #3b5998;
}

.Redes div .icon-twitter{
	background: #00abf0;
}

.Redes div .icon-mail{
	background: #d95232;
}

.Redes div .icon-instagram{
	background: #ae181f;
}

.Redes div .icon-tumblr{
	background: #02125f;
}

							/*--SLIDESHOW--*/

.slides {
	width: 100%;
	z-index: 0;
}

.slides img{
	width: 100%;
}

.slidesjs-pagination{
	background: #424242;
	list-style: none;
	overflow: hidden;
}
.slidesjs-pagination li{
	float: left;
}

.slidesjs-pagination li a{
	color: #fff;
	display: block;
	padding: 10px 20px;
	text-decoration: none;
}

.slides .active{
	background: #000;
}

.slidesjs-pagination li a:hover{
	background: #000;
}

.slidesjs-navigation{
	background: #000;
	color: #fff;
	display: inline-block;
	padding: 12px 20px;
	text-decoration: none;
	float: right;
}

.slidesjs-navigation:hover{
	background: #fff;
	color: #000;
}
						/*---INFORMACION---*/
.info{
	/*FLEX*/
	display: flex;
	flex-direction: column;
	cursor: default;
}


.info-letra{
	font-family: montserratsb;
	font-size: 32px;	
	padding: 10px;
	margin: 20px 15px 0px;
}

.info-p{
	padding: 40px;
}

							/*---DEPARTAMENTOS---*/
.departamentos{
	display: flex;
	flex-wrap: wrap;
	justify-content: center; 
}
.thumbs a{
	box-sizing: border-box;
	background: #fff;
	box-shadow: 0px 0px 1px gray;
	width: 200px;

	height: 300px;
	margin: 10px;
	padding: 10px 10px 0px 10px;
	overflow: hidden;
	/*FLEX*/
	display: flex;
	flex-flow: column nowrap;
	justify-content: stretch;
}
.thumbs div{
	height: 70%;
	padding: 20px;
}

.thumbs img{
	display: block;
/*	width: 145px;
	height: 145px;  
*/	border-radius: 50%;
}
.thumbs h3{
	text-align: center;
}

.text{
	color: #000;
	font-size: 18px;
	font-family: sourcesansb;

		/*FLEX*/
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

						


@media screen and (min-width: 900px){
	.Redes a:hover{
	background: #000;
	padding: 10px 30px;
	}

}

@media screen and (max-width: 900px){

 	main{
		width: 100%;
		flex-direction: column;
	}
	.info{

	}
	.contenedor{
		width: 100%;
	}
	header{
		flex-direction: column;
		padding: 0px;
	}
	header nav{
		width: 100%;
		justify-content: center;
	}

	.noticias{
		margin: 40px;
	}

	.imagen_evento img{
		border: none;
	}

	header .logo{
		width: 100%;
		margin: 20px 0;
		justify-content: center;
	}

	aside {
		flex-direction: row;
		flex-wrap: nowrap;
				flex: 0;
	}
	aside .widget{
		max-width: 50%;
		flex-grow: 1;
	}
	aside .widget a 	{
	justify-content: stretch;
	}
	.elemento .mascara, .elemento h2, .elemento p, .elemento .info{
    opacity: 1;
    transform: translateY(0px);
	}
	.elemento3 img { 
	    transform: scale(1.1);
	}
	.Redes{	
		position: relative;
		top: 0px;
		background: #6C8A84;
		/*FLEX*/
		display: flex;
		flex-flow: row wrap; 
		justify-content: center;
	}
	.p{
		flex-direction: column;
		padding: 2px;
	}
	.p1 p, .mascara p{
		font-size: 16px;
	}
	.p1 img{
		display: none;
	}
}


@media screen and (max-width: 600px){
	.slidesjs-pagination li a{
	color: #fff;
	display: block;
	padding: 5px 10px;
	text-decoration: none;
	}

	.slidesjs-navigation{
		background: #000;
		color: #fff;
		display: inline-block;
		padding: 7px 10px;
		text-decoration: none;
		float: right;
	}
	aside{
		flex-direction: column;
	}
	.noticias{
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: flex-start;
	}

	.noticias .texto{
		width: 100%;
	}
	.noticias .texto h3{
		text-align: center;
	}
	aside .widget{
		max-width: 90%;
		flex-grow: 1;
	}
}
