 @font-face {
 	font-family: simplifica;
 	src:url(../fuentes/Simplifica.ttf);
 }
 @font-face {
 	font-family: lapiz;
 	src:url(../fuentes/South-Gardens-Personal-Use.ttf);
 }
 @font-face {
 	font-family:;
 	src:url();
 }